<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-Jc8Q5l+HtMJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Summary</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        
    </nav>

    <div>
        <h1 style="text-align: center;padding-top: 15px;padding-bottom: 15px;color:whitesmoke;font-size:44px;">Youtube
            Video Comments Summarization</h1>
    </div>

    <div style="text-align: center;width: 77%;margin: 0 auto;">
        <h2 style='background-color: antiquewhite; font-size: 29px; border-radius: 1.25rem; padding: 10px;'><b>Summary of
                Comments</b></h2>
    </div>

    <div class='row'>
        <div class='col-md-4'
            style='text-align: center;width: 57%;margin: 0 auto;border-radius: 3.25rem;padding-top: 15px;'>
            <div class="card">
                <h3 style='background-color: antiquewhite;font-size: 29px;border-radius: 1.25rem;padding: 10px;'>
                    Summary
                </h3>
                <p class="card-text">{{ summary }}</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
        integrity="sha384-LplJZtZESs2eBx1Eo0guDjBUL7Yzi1c87B4phCPrZ30xCbrbI7NQ2qCTl4h0iVp" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgSNFTgftGZ9mfFSA4uOeprHj2RM2l8qgpjS5e/lSkE/tufvZC8" crossorigin="anonymous">
    </script>
</body>

</html>
